html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
}
.container{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.black-box{
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 500px;
    width: 800px;
    border-radius: 30px;
}
.left{
    display: flex;
    align-items: center;
    height: 100%;
    width: 42%;
}
.left > video{
    height: 85%;
    width: 100%;
}
.right{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column;
    height: 100%;
    width: 55%;

}
.logo > img{
    height: 65%;
    width: 85%;
    margin: 10px 30px 0px 30px;
}
input[type=text], input[type = password]{
    width: 315px;
    height: 25px;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}
button{
    background-color:rgb(255, 145, 0);
    height: 30px;
    width: 400px;
    margin-top: 25px;
    border-radius: 8px;
    font-size: 15px;
}