*{
    font-family: 'Poppins', sans-serif;
}
.header {
    width:100%;
    margin-top:-9px;
    position:fixed;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: solid black 1px;
     position: sticky;
    top: 0;
    z-index: 2;
}

.titlereddit {
    margin-left: 10px; 
    
}

.container1 {
    display: flex;
    align-items: center; 
    margin-top: 0px;
}

.search {
    background-color: rgb(229, 229, 229);
    width: 750px;
    height: 24px;
    border-radius: 50px;
    margin-left: 200px;
    border: none;
    margin-top: 0px;
    padding: 10px 10px 10px 60px;
}
.getapp{
    width: 90px ;
    height:40px;
    border-radius: 50px;
    margin-left:170px;
    border:none
}
.login{
    width: 70px ;
    height:40px;
    margin-left:10px;
    border:none;
    border-radius: 50px;
    background-color: rgb(233, 80, 20);
    color: white;
}

.categoriesblock{
    color: grey;
    height: 800px;
    width:300px;
    position: absolute;
    border-right: solid black 1px;
    margin-top: -22px;
    position: sticky;
    top: 10px; /* Adjust this value to match the height of the header */
    z-index: 1;
   
}

.categoriesname{
    padding-top: 10px;
    position: absolute;
    margin-left: 140px;
    margin-top: 80px;
}

.home{
    
    position: absolute;
    margin-left: 0px;
    position: absolute;
    margin-top: 40px;
    border-bottom: solid black 1px;
    width:300px;
    padding-bottom: 15px;
    text-align: center;
}
.om{
    position: absolute;
    margin-top: 380px;
    margin-left: 0px;
    font-size: 18px;
    width: 300px;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid black;
}
.trendingtopics {
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: -750px; 
    margin-left: 320px;
    overflow-x: scroll;
    width: 77%;
   
    
}

.trendingtopics img {
    width: 280px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px; 
    margin-right: 10px; 
    transition: transform 0.3s ease-out;
}

.trendingtopics img:hover {
    transform: scale(1.2);
}

.images-container {
    display: flex;
    align-items: center;
    margin: 0 20px;
    transition: transform 0.3s ease-in-out;
    
}
/* .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 100%;
    cursor: pointer;
    position: fixed;
    top: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    margin-right:30px ;
    margin-left: 10px;
}

.arrow-left {
    left: 0;
    
}

.arrow-right {
    right: 0;
} */